body {
  background-color: MediumSeaGreen;
}
body {
  color: blue;
}
h1 {
  color: white;
  text-align: center;
}
p.serif {
  font-family: "Times New Roman", Times, serif;
}

p.sansserif {
  font-family: Arial, Helvetica, sans-serif;
}