body {
  background-color: MediumSeaGreen;
}

h1 {
  color: navy;
  margin-left: 20px;
}
p.serif {
  font-family: "Times New Roman", Times, serif;
}

p.sansserif {
  font-family: Arial, Helvetica, sans-serif;
}